@model SalahProjekt.Models.Typ
@*@model2 SalahProjekt.Models.Mecz*@


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@*@if (ViewBag.MeczID!= null)*@
@* { *@
    


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Typ</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
            @Html.LabelFor(model => model.ProfileID, "ProfileID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProfileID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProfileID, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
        <label>@ViewBag.MeczID</label>
        <div class="col-md-10">*@
    @Html.Hidden("MeczID", ViewBag.MeczID as string)

    @*@Html.EditorFor(model => model.MeczID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MeczID, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <label>@ViewBag.DruzynaGospodarzy</label>
    <div class="form-group">

        <div class="col-md-10">
            @Html.EditorFor(model => model.Bramki_D1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Bramki_D1, "", new { @class = "text-danger" })
        </div>
    </div>

    <label>@ViewBag.DruzynaGosci</label>
    <div class="form-group">

        <div class="col-md-10">
            @Html.EditorFor(model => model.Bramki_D2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Bramki_D2, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.MyProperty, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MyProperty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MyProperty, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
@*}*@
}
@if (ViewBag.MeczId == null)
{
    <p>Wytypowales wszystkie dostepne mecze</p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
