@model IEnumerable<SalahProjekt.Models.Typ>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mecz.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tprofile.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bramki_D1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bramki_D2)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mecz.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tprofile.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mecz.druzyna1.Nazwa_Druzyny)
                @Html.DisplayFor(modelItem => item.Bramki_D1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mecz.druzyna2.Nazwa_Druzyny) 
                @Html.DisplayFor(modelItem => item.Bramki_D2)
            </td>
            <td>
                <!--  @Html.ActionLink("Details", "Details", new { id=item.ID }) |-->
                @if (Context.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })                    
                }
            </td>
        </tr>
    }

</table>
