@model SalahProjekt.Models.Komentarz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Komentarz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artykul.Tresc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artykul.Tresc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profil.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profil.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tresc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tresc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
