@model IEnumerable<SalahProjekt.Models.Profile>

@{
    ViewBag.Title = "Wyniki";
}

<h2>Wyniki</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SumaPunktow)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SumaPunktow)
        </td>
    </tr>
}

</table>
