@model IEnumerable<SalahProjekt.Models.Druzyna>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Context.User.IsInRole("Admin")) { 
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa_Druzyny)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa_Druzyny)
            </td>
            <td>
                <img src="~/foto/@item.Sciezka_Do_Herbu" alt="brak dodanego herbu" height="50" width="50" />
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @if (Context.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
